* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1rem;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-imagem {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.caixa-textos-projetos {
    padding: 1.5rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
}

.contatos {
    padding: 6rem 2rem
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.formulario-email {
    text-align: center;
}

.botao-copiar {
    background-color: var(--escuro);
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.botao-copiar i {
    color: var(--vidro);
    font-size: 18px;
}

.botao-copiar:hover {
    background-color: var(--maisescuro);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background:
        url("./img/linhascircuito.png") no-repeat left center,
        url("./img/linhascircuito.png") no-repeat right center;
    background-size: 350px auto, 350px auto;
    pointer-events: none;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.habilidades-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.habilidades-caixa {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.habilidades-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    text-align: center;
    padding: 1rem 0rem;
}

.habilidades-card i {
    font-size: 30px;
}

.info-habilidades {
    margin-top: 10px;
    font-size: 15px;
}

.mockup-geral {
    padding: 2rem 2rem;
}

.mockup-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.mockup-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.mockup-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.mockup {
    position: relative;
    display: inline-block;
    width: 100%;
    /* ajusta para o tamanho do card */
    max-width: 600px;
    /* tamanho máximo opcional */
}

.mockup-frame {
    display: block;
    width: 100%;
    height: auto;
}

/* todos os prints */
.mockup-screen {
    position: absolute;
    object-fit: cover;
    border-radius: 8px;
}

/* print do notebook */
.notebook-screen {
    top: 34%;
    /* posição vertical dentro do mockup */
    left: 15%;
    /* posição horizontal dentro do mockup */
    width: 50%;
    /* largura da tela */
    height: 45%;
    /* altura da tela */
}

/* print do smartphone */
.smartphone-screen {
    top: 51%;
    left: 78%;
    width: 10.75%;
    height: 35%;
    border-radius: 2px;
}